@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #fff;
  color: #111827;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}